.wrapperBody{
  min-height: 840px;
}
.wrapperHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0;
}

.wrapperHeaderContent{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.wrapperCard{
  margin-top: 2rem;
}

.wrapperCardBody{
  display: flex;
  flex-direction: row;
}

.wrapperCardBodyAC{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 2rem;
  padding-right: 9rem;
}

.wrapperCardBodyC1{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1rem;

}

.wrapperCardBodyC2{
  display: flex;
  flex-direction: column;
}

/* .wrapperCardBodyC3{
  display: flex;
  flex-direction: column;
}

.wrapperCardBodyC4{
  display: flex;
  flex-direction: column;
} */

.wrapperFotter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapperStatus{
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  width: 35%;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.flexRow {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.flexRowNoSpace {
  display: flex;
  flex-flow: row;
}

.flexColumn {
  display: flex;
  flex-flow: column;
}

.flexColumn2 {
  display: flex;
  flex-flow: column;
  width: 80%;
}

.flexFotterRow {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
}

.chiefMac {
  border-bottom: 1px solid #C6C6C6;
  padding: 0 1rem;
}

.detail {
  padding: 1rem 2.5rem;

}

.machanical {
  padding: 1rem 1rem;
}

.headerTitle{
  font-size: 18;
  font-weight: 300;
}

.orderContent{
  display: contents;
  /* justify-content: space-evenly; */
}

.wrapperOrderContent{
  display : flex;
  margin-top: 1rem;
}

.contentDetailC1{
  flex : 3;
  /* margin-left: 3rem; */

  /* justify-content: space-between; */
}

.contentDetailC2{
  flex: 3;
  /* margin-left: 2rem; */

}

.status{
  flex : 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:  0 1rem;
}

.cardContainer{
  margin-top: 2rem;
}

.BBottom{
  padding: 1rem 0;
  text-align: right;
}

.setBorder{
 border: 3px;
}

.orderContentDetail{
  margin-top: 1rem;
}

.modalBodyOrderDetail{
  padding: 1rem 1rem;
  flex-wrap: wrap;
  align-content: space-between;
}

.modalBodyOrderSunDetail{
  margin-top: 1rem;
}

.modalBodyOrderCardDetail{
  padding: 1rem 5rem;
}

.modalTeam{
  width: 1288px;
  height: 594px;
}

.modalDetail{
  width: 1288px;
  height: 788px;
}
