.page {
  flex-grow: 1;
  margin-bottom: 2rem;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.space {
  margin: 1rem 0;
}

.card {
  height: fit-content;
  margin-bottom: 1rem;
}

