@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Kanit', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: linear-gradient( #ffffff,#e3f2ff);
  display: flex;
  flex-direction: column;
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* table, th, td {
  border: 1px solid black;
}

th:last-child {
  border: 1px solid black;
  border-right: none;
} */

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-family: inherit;
}

.font-xl {
  font-size: 24px;
}

.font-lg {
  font-size: 20px;
}

.font-md {
  font-size: 18px;
}

.font-sm {
  font-size: 16px;
}

.weight-md {
  font-weight: 500;
}

.weight-re {
  font-weight: 400;
}

.weight-li {
  font-weight: 300;
}

.tb-size-sm{
  width: 234px;
}

.tb-size-md{
  width: 321px;
}

.tb-size-fluid{
  width: 412px;
}
